body {
    background-color: #f1f1f1;
    padding-bottom: 20px;
    margin: 0 auto auto auto;
}

.container {
    padding-right: 15px;
    margin-right: auto;
    padding-left: 15px;
    margin-left: auto;
}

#menu {
    background-color: #f1f1f1;
}

#header {
    background-color: white;
    height: 400px;
    width: 100%;
}

#tengah {
    text-align: center;
    padding: 20px;
}

#content {
    width: 100%;
    height: 250px;
    margin: 5px 5px 5px 0px;
    text-align: justify;
}

.isi_konten {
    background-color: white;
    float: left;
    margin: 10px 0px 10px 10px;
    padding: 15px;
    width: 285px;
    height: 170px;
}

.inti {
    background-color: white;
    float: left;
    margin: 0px;
    padding: 0px;
    height: 370px;
}

#full {
    width: 100%;
    height: 655px;
    background-color: #f1f1f1;
    text-align: justify;
}

#kanan {
    float: right;
    margin-right: 30px;
}

#isi {
    width: 750px;
    height: auto;
    background-color: #FAFAFA;
    float: left;
}

table, td, th {
    text-align: center;
    margin: 20px 5px 20px 5px;
    width: auto;
}

th {
    background-color: #3598DB;
    color: white;
    height: 30px;
}

td {
    padding: 5px;
    text-align: left;
}
